{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Students List</title>
</head>
<body>
<h1>Students List</h1>
<link rel="stylesheet" href="{% static 'style1.css' %}">
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
    {% for y in students %}
  <tr>
  <td>{{ y.id }}</td>
   <td>{{ y.name }}</td>
   <td>{{ y.phone }}</td>
   <td>{{ y.email }}</td>
  </tr>

    {% endfor %}
</table>

</body>
</html>
