<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery Page</title>
    <style>
        body{
            background: #dc143c;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Welcome to the gallery page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum dolore enim, expedita minima necessitatibus nobis, non repellat sit suscipit temporibus tenetur vel! A alias asperiores aspernatur debitis dolor est, ex explicabo, illo incidunt ipsum nemo officia possimus quidem, recusandae sit veniam veritatis vitae! Accusamus hic iure nostrum qui totam.</p>
</body>
</html>