<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Django html file</title>
</head>
<body>
    <h1>This is the homepage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At et expedita fugit, inventore ipsam labore laboriosam, magnam minus molestiae, nam odio quibusdam rem reprehenderit repudiandae rerum tempore voluptas? Animi asperiores aspernatur corporis cum dolor, doloremque ea iure libero maiores molestiae mollitia, neque nihil quibusdam recusandae repellendus sapiente sequi, voluptas voluptate?</p>
</body>
</html>