<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Welcome to the Products page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam, at beatae corporis cum distinctio enim exercitationem fugiat fugit harum id illo inventore ipsa iste itaque iusto magnam magni molestiae nulla numquam odit omnis quia quis quo recusandae reiciendis reprehenderit sequi sunt temporibus tenetur vel veritatis voluptatum. Minus, velit?</p>
</body>
</html>